:root {
  --color-primary-sanite: #225479;
  --color-third-sanite: #b3e1e7;
  --color-fifth-sanite: #691a53;
}

@media screen and (min-width: 300px) {
  * {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background-color: var(--color-primary-sanite);
    position: relative;
  }

  footer {
    scroll-margin-top: 4em;
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    text-align: justify;
  }

  figure {
    overflow: hidden;
  }

  .p-intro-sanite {
    text-align: justify;
    color: var(--color-primary-sanite);
    font-size: 18px;
  }

  .img-hover-sanite {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .img-hover-sanite:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .p-bold-sanite {
    font-weight: bold;
  }

  .div-title-sanite {
    text-align: justify;
    margin: 0 auto;
  }

  .div-provider-sanite {
    padding-bottom: 20px;
  }

  .section-sanite {
    padding: 20px 30px 20px 30px;
    scroll-margin-top: 4em;
    margin: 20px;
  }

  .section-banner-sanite {
    background-image: url('../assets/images/banner-1.jpg');
    background-size: cover;
    background-position: top right;
    height: 600px;
  }

  .footer-sanite {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-fifth-sanite);
    color: #eae5e3;
  }

  .float {
    position: fixed;
    width: 62px;
    height: 62px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    z-index: 100;
  }

  input[type='text'],
  input[type='text']:focus,
  input[type='text']::placeholder,
  input[type='email'],
  input[type='email']:focus,
  input[type='email']::placeholder,
  textarea.form-control,
  textarea.form-control::placeholder,
  textarea.form-control:focus {
    background-color: transparent;
    color: #eae5e3;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    border-color: #eae5e3;
  }

  .a-no-color-sanite {
    color: #eae5e3;
  }

  .nav-sanite {
    width: 100%;
    justify-content: flex-end;
  }

  /* bootstrap override */
  .btn-primary {
    background-color: transparent;
    border-radius: 0%;
    border-color: #eae5e3;
  }

  .btn-primary:hover {
    background-color: #516a91;
    border-radius: 0%;
    border-color: #eae5e3;
  }

  .nav-link {
    color: var(--color-third-sanite) !important;
    /* font-weight: 600; */
  }

  .active {
    color: var(--color-third-sanite) !important;
    font-weight: bold !important;
  }

  .bg-blue-sanite {
    background-color: var(--color-primary-sanite);
  }

  /*start checkbox*/
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid white;
    background-color: transparent;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--color-primary-sanite);
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--color-primary-sanite);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /*end checkbox*/

  /*catalog*/
  .catalogo-title-sanite {
    background-color: var(--color-third-sanite);
    color: var(--color-primary-sanite);
    height: 70px;
    padding-left: 30px;
  }

  .catalogo-list-sanite {
    background-color: var(--color-third-sanite);
    color: var(--color-primary-sanite);
    padding-left: 20px;
    padding-right: 20px;
  }

  .catalogo-list-sanite div {
    padding-left: 10px;
    height: 40px;
  }

  .catalogo-list-sanite div:hover {
    background-color: white;
    cursor: pointer;
  }

  .catalogo-grid-sanite {
    background-color: white;
    padding-top: 18px;
  }

  .catalogo-grid-sanite div div {
    width: 25%;
    text-align: center;
  }

  .catalogo-grid-sanite div div img {
    width: 90%;
  }

  .catalogo-grid-sanite div div a {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary-sanite);
  }
  /*end of catalog*/

  /*------------------------------*/
  /*PRODUCT*/
  /*------------------------------*/
  .product-main-sanite {
    background-color: white;
    margin: 20px;
    padding: 20px;
  }

  .product-main-sanite h1 {
    font-weight: bold;
  }

  .product-main-sanite > div > div > div > p {
    font-style: italic;
  }

  .product-main-sanite > div > div > div {
    line-height: 6px;
    width: 60%;
  }

  .product-main-sanite * {
    color: var(--color-primary-sanite);
  }

  /* start vertical center*/
  .parent-center-v-sanite {
    position: relative;
  }

  .child-center-v-sanite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  /* end vertical center*/

  /*------------------------------*/
  /* END PRODUCT*/
  /*------------------------------*/

  .div-quienes-somos-title-sanite {
    width: 100%;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
  }

  .div-quienes-somos-title-sanite > p {
    color: var(--color-third-sanite);
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 6px;
  }

  .div-quienes-somos-content-sanite {
    width: 100%;
    color: white;
    font-style: italic;
  }

  .button-catalogo-sanite {
    background-color: var(--color-third-sanite);
    border: 0px;
    padding: 10px 50px;
  }

  .button-catalogo-sanite > a {
    color: var(--color-primary-sanite);
  }

  .pill-badge-sanite {
    color: white;
    font-style: italic;
    background-color: var(--color-primary-sanite);
    width: fit-content;
    padding: 10px 40px;
    border-radius: 30px;
  }
}

@media screen and (min-width: 800px) {
  .footer-sanite {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .div-title-sanite {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .carousel-item {
    height: 500px;
  }

  .carousel-caption {
    bottom: 60% !important;
    width: 30%;
    left: auto !important;
    margin-right: -60px;
  }

  .section-mision {
    padding: 0px 60px;
  }

  .splide__arrow {
    background: url();
  }

  .splide__track {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    padding: 20px;
    border-right: 20px solid white;
  }

  .bg-light {
    background-color: #eeeeee !important;
  }

  #section-providers {
    border-bottom: 10px solid black;
    border-right: 10px solid black;
  }

  .logo-footer-sanite {
    margin-top: -182px;
  }

  .div-quienes-somos-content-sanite {
    width: 60%;
  }

  .div-quienes-somos-title-sanite {
    width: 60%;
  }

  .p-intro-sanite {
    text-align: center;
  }
}
